*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    background: #3a3a3a;
    display: flex;
    justify-content: center;
}

.nav{
    width: 900px;
}
.nav ul {
    list-style-type: none;
    display: flex;
}
.nav ul li{
    padding: 15px;
}

.link{
    text-decoration: none;
    color: #fff;
}
.link:hover{
    opacity: 0.5;
    transition: 0.5s;
}


.animationBlock{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px dashed teal;
    animation: animation 4s ease-in-out infinite;
}

@keyframes animation {
    from{
        /*transform:rotate(0deg) scale(100%) translateX(0);*/
        margin-left:10px ;
    }
    to{
        margin-left:500px ;
    }
}

.image{
    display: none;
}
.activeImage{
    display: block;
}
.active {
    position: absolute;
    top: 40px;
    width: 400px;
    height: 400px;
    background: #0057ff;
    left: 50%;
    transform: translateX(-50%);
}